---
import BasicLayout from "../../layouts/BasicLayout.astro";
import Button from "../../components/Button.astro";
---

<BasicLayout title="Don't have to - English">
    <div class="flex items-center justify-center mt-16 mx-10">
        <main class="max-w-screen-md">
            <h1 class="mb-4">ตัวอย่าง Don't have to</h1>

            <h2>He <span class="highlight gradient-4">doesn't have to</span> wear a suit to work but he usually does.</h2>
            <p class="mb-4">(เขา<span class="highlight gradient-4">ไม่จำเป็น</span>ต้องใส่สูทไปทำงานก็ได้ แต่เขาก็ใส่ไปเป็นปกติ)</p>

            <h2>I <span class="highlight gradient-3">don’t have to</span> clean my room every day.</h2>
            <p class="mb-4">(ฉัน<span class="highlight gradient-3">ไม่จำเป็น</span>ต้องทำความสะอาดห้องทุกวัน)</p>

            <h2>Teachers <span class="highlight gradient-2">don’t have to</span> work on Sunday.</h2>
            <p class="mb-4">(บรรดาคุณครู<span class="highlight gradient-2">ไม่จำเป็น</span>ต้องทำงานวันอาทิตย์)</p>

            <h2>You <span class="highlight gradient-1">don’t have to</span> hurry, but you mustn’t be late.</h2>
            <p class="mb-10">(คุณ<span class="highlight gradient-1">ไม่จำเป็น</span>ต้องรีบก็ได้ แต่คุณห้ามสายนะ)</p>

            <Button href="/">
                Back to home
            </Button>
        </main>
    </div>
</BasicLayout>
