---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="Have to, or not have to? - English">
    <main class="flex flex-col justify-center items-center mt-16">
        <h1>Have to, or not have to?</h1>
        <div class="grid text-center">
            <a href="/have-to/" class="mt-4 rounded-3xl bg-gray-100 hover:bg-gray-200 transition-colors py-2 px-4 text-black">
                Have to
            </a>
            <a href="/dont-have-to/" class="mt-2 rounded-3xl bg-gray-100 hover:bg-gray-200 transition-colors py-2 px-4 text-black">
                Don't have to
            </a>
        </div>
	</main>
</BasicLayout>
