---
import BasicLayout from "../../layouts/BasicLayout.astro";
import Button from "../../components/Button.astro";
---

<BasicLayout title="Have to - English">
    <div class="flex items-center justify-center mt-16 mx-10">
        <main class="max-w-screen-md">
            <h1 class="mb-4">ตัวอย่าง Have to</h1>
            <h2>I <span class="highlight gradient-1">have to</span> stop smoking.</h2>
            <p class="mb-4">(ฉัน<span class="highlight gradient-1">จำเป็น</span>ต้องเลิกสูบบุหรี่: หมออาจจะสั่งให้เลิกสูบ)</p>

            <h2>I <span class="highlight gradient-2">have to</span> go to supermarket today. Because my mom asked me to buy something.</h2>
            <p class="mb-4">(ฉัน<span class="highlight gradient-2">ต้องไป</span>ซูเปอร์มาร์เก็ตวันนี้ เพราะแม่บอกให้ซื้อของบางอย่าง)</p>

            <h2>Doctors sometimes <span class="highlight gradient-3">have to</span> work on Sunday.</h2>
            <p class="mb-4">(บางครั้งบรรดาคุณหมอก็<span class="highlight gradient-3">ต้องทำงาน</span>วันอาทิตย์: เป็นกฎในอาชีพที่ต้องทำ)</p>

            <h2>She <span class="highlight gradient-4">has to</span> go to the hospital.</h2>
            <p class="mb-10">(เธอ<span class="highlight gradient-4">ต้องไป</span>โรงพยาบาล)</p>

            <Button href="/">
                Back to home
            </Button>
        </main>
    </div>
</BasicLayout>
