---
import BasicLayout from "../../layouts/BasicLayout.astro";
import Button from "../../components/Button.astro";
---

<BasicLayout title="Have to - English">
    <div class="flex items-center justify-center mt-16 mx-10">
        <main class="max-w-screen-md">
            <h1 class="mb-4">Have to</h1>
            <p class="mb-8">
                have to ใช้ในกรณีที่สถานการณ์เป็นตัวบังคับให้เราจำเป็นต้องทำ ซึ่งเราอาจจะไม่อยากทำ อาจเป็นกฎหรือข้อบังคับให้ทำ โครงสร้างคือ have to + verb infinitive (กริยาช่อง 1)
            </p>
            <h1 class="mb-4">Don't have to</h1>
            <p class="mb-8">
                don’t have to/doesn’t have to หมายถึง “ไม่จำเป็นต้อง...” นั่นคือจะทำหรือไม่ทำก็ได้ โครงสร้างคือ don’t have to/doesn’t have to + verb infinitive (V.1)
            </p>
            <Button href="/eng-have-to/must/">
                Next
            </Button>
        </main>
    </div>
</BasicLayout>
