---
import BasicLayout from "../../layouts/BasicLayout.astro";
import Button from "../../components/Button.astro";
---

<BasicLayout title="Must - English">
    <div class="flex items-center justify-center mt-16 mx-10">
        <main class="max-w-screen-md">
            <h1 class="mb-4">Must</h1>
            <p class="mb-8">
                must ใช้ในกรณีที่เราคิดเองว่าต้องทำ โครงสร้างคือ must + verb infinitive (กริยาช่อง 1)
            </p>
            <h1 class="mb-4">Mustn't (Must not)</h1>
            <p class="mb-8">
                mustn’t หมายถึง “ต้องไม่...”  ซึ่งเป็นกฎหรือข้อบังคับว่า “ห้ามทำ” โครงสร้างคือ mustn’t + verb infinitive (V.1)
            </p>
            <Button href="/eng-have-to/quiz/">
                Next
            </Button>
        </main>
    </div>
</BasicLayout>
